@model List<ComplaintRequestSystem.Models.Complaint.ComplaintViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@if (Model is not null)
{
    @foreach (var complaint in Model)
    {
        <h4>@complaint.ComplaintText</h4>

        <div>
            <button type="button" class="btn btn-warning btn-sm">
                By @complaint.UserName
            </button>
        </div>

    }           

}